In [38]:
import pandas as pd
import numpy as np

In [39]:
data = pd.read_csv('hyderabad.csv')

In [40]:
data.head()

,Price,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,JoggingTrack,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Refrigerator
0,6968000,1340,Nizampet,2,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
1,29000000,3498,Hitech City,4,0,0,1,1,1,1,...,1,0,1,0,0,0,0,0,0,0
2,6590000,1318,Manikonda,2,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5739000,1295,Alwal,3,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5679000,1145,Kukatpally,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [41]:
data.shape

(2518, 40)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 40 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                2518 non-null   int64
 1   Area                 2518 non-null   int64
 2   Location             2518 non-null   object
 3   No. of Bedrooms      2518 non-null   int64
 4   Resale               2518 non-null   int64
 5   MaintenanceStaff     2518 non-null   int64
 6   Gymnasium            2518 non-null   int64
 7   SwimmingPool         2518 non-null   int64
 8   LandscapedGardens    2518 non-null   int64
 9   JoggingTrack         2518 non-null   int64
 10  RainWaterHarvesting  2518 non-null   int64
 11  IndoorGames          2518 non-null   int64
 12  ShoppingMall         2518 non-null   int64
 13  Intercom             2518 non-null   int64
 14  SportsFacility       2518 non-null   int64
 15  ATM                  2518 non-null   int64
 16  ClubHouse            2518 non-null   int64
 17  School               2518 non-null   int64
 18  24X7Security         2518 non-null   int64
 19  PowerBackup          2518 non-null   int64
 20  CarParking           2518 non-null   int64
 21  StaffQuarter         2518 non-null   int64
 22  Cafeteria            2518 non-null   int64
 23  MultipurposeRoom     2518 non-null   int64
 24  Hospital             2518 non-null   int64
 25  WashingMachine       2518 non-null   int64
 26  Gasconnection        2518 non-null   int64
 27  AC                   2518 non-null   int64
 28  Wifi                 2518 non-null   int64
 29  Children'splayarea   2518 non-null   int64
 30  LiftAvailable        2518 non-null   int64
 31  BED                  2518 non-null   int64
 32  VaastuCompliant      2518 non-null   int64
 33  Microwave            2518 non-null   int64
 34  GolfCourse           2518 non-null   int64
 35  TV                   2518 non-null   int64
 36  DiningTable          2518 non-null   int64
 37  Sofa                 2518 non-null   int64
 38  Wardrobe             2518 non-null   int64
 39  Refrigerator         2518 non-null   int64
dtypes: int64(39), object(1)
memory usage: 787.0+ KB

In [43]:
for column in data.columns:
    print(data[column].value_counts())
    print("*" * 20)

Price
3500000    48
3900000    46
6000000    45
4500000    43
8000000    39
           ..
6656999     1
6312000     1
5166000     1
5367000     1
6250000     1
Name: count, Length: 690, dtype: int64
********************
Area
1100    76
1150    76
1200    69
1050    67
1515    50
        ..
1334     1
1355     1
1738     1
3049     1
1805     1
Name: count, Length: 579, dtype: int64
********************
Location
Kukatpally                       166
Kondapur                         149
Manikonda                        115
Nizampet                         106
Gachibowli                        83
                                ...
Basheer Bagh                       1
Miyapur HMT Swarnapuri Colony      1
Adda Gutta                         1
Mayuri Nagar                       1
Paradise Circle                    1
Name: count, Length: 243, dtype: int64
********************
No. of Bedrooms
3    1207
2    1090
4     160
1      37
5      20
8       2
6       2
Name: count, dtype: int64
********************
Resale
0    1945
1     573
Name: count, dtype: int64
********************
MaintenanceStaff
0    2151
1     283
9      84
Name: count, dtype: int64
********************
Gymnasium
0    1327
1    1107
9      84
Name: count, dtype: int64
********************
SwimmingPool
0    1403
1    1031
9      84
Name: count, dtype: int64
********************
LandscapedGardens
0    1631
1     803
9      84
Name: count, dtype: int64
********************
JoggingTrack
0    1780
1     654
9      84
Name: count, dtype: int64
********************
RainWaterHarvesting
0    1663
1     771
9      84
Name: count, dtype: int64
********************
IndoorGames
0    1728
1     706
9      84
Name: count, dtype: int64
********************
ShoppingMall
0    2268
1     166
9      84
Name: count, dtype: int64
********************
Intercom
0    1480
1     954
9      84
Name: count, dtype: int64
********************
SportsFacility
0    1796
1     638
9      84
Name: count, dtype: int64
********************
ATM
0    2128
1     306
9      84
Name: count, dtype: int64
********************
ClubHouse
0    1398
1    1036
9      84
Name: count, dtype: int64
********************
School
0    2332
1     102
9      84
Name: count, dtype: int64
********************
24X7Security
0    1411
1    1023
9      84
Name: count, dtype: int64
********************
PowerBackup
1    1600
0     834
9      84
Name: count, dtype: int64
********************
CarParking
0    1336
1    1098
9      84
Name: count, dtype: int64
********************
StaffQuarter
0    2194
1     240
9      84
Name: count, dtype: int64
********************
Cafeteria
0    2149
1     285
9      84
Name: count, dtype: int64
********************
MultipurposeRoom
0    1850
1     584
9      84
Name: count, dtype: int64
********************
Hospital
0    2334
1     100
9      84
Name: count, dtype: int64
********************
WashingMachine
0    2384
9      84
1      50
Name: count, dtype: int64
********************
Gasconnection
0    2216
1     218
9      84
Name: count, dtype: int64
********************
AC
0    2337
1      97
9      84
Name: count, dtype: int64
********************
Wifi
0    2369
9      84
1      65
Name: count, dtype: int64
********************
Children'splayarea
0    1291
1    1143
9      84
Name: count, dtype: int64
********************
LiftAvailable
1    1701
0     733
9      84
Name: count, dtype: int64
********************
BED
0    2283
1     151
9      84
Name: count, dtype: int64
********************
VaastuCompliant
0    1661
1     773
9      84
Name: count, dtype: int64
********************
Microwave
0    2327
1     107
9      84
Name: count, dtype: int64
********************
GolfCourse
0    2359
9      84
1      75
Name: count, dtype: int64
********************
TV
0    2381
9      84
1      53
Name: count, dtype: int64
********************
DiningTable
0    2348
1      86
9      84
Name: count, dtype: int64
********************
Sofa
0    2328
1     106
9      84
Name: count, dtype: int64
********************
Wardrobe
0    2331
1     103
9      84
Name: count, dtype: int64
********************
Refrigerator
0    2372
9      84
1      62
Name: count, dtype: int64
********************

In [44]:
data.isna().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Children'splayarea     0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [45]:
# renaming column name
data.rename(columns={'No. of Bedrooms': 'Bedrooms', '24X7Security': 'Security'}, inplace=True)

In [46]:
data = data[['Price', 'Area', 'Location', 'Bedrooms', 'Security']]

In [47]:
data.head()

      Price  Area     Location  Bedrooms  Security
0   6968000  1340     Nizampet         2         1
1  29000000  3498  Hitech City         4         1
2   6590000  1318    Manikonda         2         0
3   5739000  1295        Alwal         3         0
4   5679000  1145   Kukatpally         2         0

In [48]:
data.describe()

              Price         Area     Bedrooms     Security
count  2.518000e+03  2518.000000  2518.000000  2518.000000
mean   9.818380e+06  1644.571088     2.623511     0.706513
std    8.777113e+06   746.256956     0.687330     1.615641
min    2.000000e+06   500.000000     1.000000     0.000000
25%    4.760000e+06  1160.000000     2.000000     0.000000
50%    7.754000e+06  1500.000000     3.000000     0.000000
75%    1.090000e+07  1829.000000     3.000000     1.000000
max    1.650000e+08  9400.000000     8.000000     9.000000

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     2518 non-null   int64
 1   Area      2518 non-null   int64
 2   Location  2518 non-null   object
 3   Bedrooms  2518 non-null   int64
 4   Security  2518 non-null   int64
dtypes: int64(4), object(1)
memory usage: 98.5+ KB

In [50]:
for col in data.columns:
    print(data[col].value_counts())
    print("*" * 20)

Price
3500000    48
3900000    46
6000000    45
4500000    43
8000000    39
           ..
6656999     1
6312000     1
5166000     1
5367000     1
6250000     1
Name: count, Length: 690, dtype: int64
********************
Area
1100    76
1150    76
1200    69
1050    67
1515    50
        ..
1334     1
1355     1
1738     1
3049     1
1805     1
Name: count, Length: 579, dtype: int64
********************
Location
Kukatpally                       166
Kondapur                         149
Manikonda                        115
Nizampet                         106
Gachibowli                        83
                                ...
Basheer Bagh                       1
Miyapur HMT Swarnapuri Colony      1
Adda Gutta                         1
Mayuri Nagar                       1
Paradise Circle                    1
Name: count, Length: 243, dtype: int64
********************
Bedrooms
3    1207
2    1090
4     160
1      37
5      20
8       2
6       2
Name: count, dtype: int64
********************
Security
0    1411
1    1023
9      84
Name: count, dtype: int64
********************

In [51]:
data['Security']

0       1
1       1
2       0
3       0
4       0
       ..
2513    9
2514    9
2515    9
2516    9
2517    9
Name: Security, Length: 2518, dtype: int64

In [52]:
# in security columns we have few tuples which have value 9 which is an outlier
data = data.query('Security != 9')

In [53]:
data['Security'].value_counts()

Security
0    1411
1    1023
Name: count, dtype: int64

In [54]:
data.shape

(2434, 5)

Price per sq.ft

In [55]:
data['price_per_sqft'] =  data['Price'] / data['Area']

In [56]:
data['price_per_sqft']

0       5200.000000
1       8290.451687
2       5000.000000
3       4431.660232
4       4959.825328
           ...
2429    3600.000000
2430    3499.500500
2431    3610.573823
2432    2500.000000
2433    3694.779116
Name: price_per_sqft, Length: 2434, dtype: float64

In [57]:
data['Location'].value_counts()

Location
Kukatpally                163
Kondapur                  142
Manikonda                 112
Nizampet                  104
Hitech City                81
                         ...
ALIND Employees Colony      1
Ameerpet                    1
Methodist Colony            1
NRSA Colony                 1
chandrayangutta             1
Name: count, Length: 239, dtype: int64

In [58]:
# we have around 239 different locations. We cannot pass them to our model. 
# Which ever locations have less frequency, we have to replace with others.

In [59]:
location_count = data['Location'].value_counts()

In [60]:
location_count

Location
Kukatpally                163
Kondapur                  142
Manikonda                 112
Nizampet                  104
Hitech City                81
                         ...
ALIND Employees Colony      1
Ameerpet                    1
Methodist Colony            1
NRSA Colony                 1
chandrayangutta             1
Name: count, Length: 239, dtype: int64

In [61]:
location_counts_less_than_10 = location_count[location_count <= 10]
location_counts_less_than_10

Location
Gandipet                  10
Mehdipatnam               10
Nallakunta                 9
Chaitanyapuri              9
Pati                       9
                          ..
ALIND Employees Colony     1
Ameerpet                   1
Methodist Colony           1
NRSA Colony                1
chandrayangutta            1
Name: count, Length: 187, dtype: int64

In [62]:
data['Location'] = data['Location'].apply(lambda x:'other' if x in location_counts_less_than_10 else x)

In [63]:
data['Location'].value_counts()

Location
other                        469
Kukatpally                   163
Kondapur                     142
Manikonda                    112
Nizampet                     104
Hitech City                   81
Gachibowli                    80
Kokapet                       79
Miyapur                       78
Pragathi Nagar Kukatpally     56
Bachupally Road               55
Puppalaguda                   51
Narsingi                      50
Gajularamaram                 48
Nanakramguda                  45
Beeramguda                    45
Banjara Hills                 44
Appa Junction                 43
Tellapur                      43
Jubilee Hills                 41
Serilingampally               41
Krishna Reddy Pet             34
Madhapur                      31
Appa Junction Peerancheru     28
Nallagandla Gachibowli        28
Bachupally                    27
Malkajgiri                    22
Mallampet                     22
Begumpet                      21
Aminpur                       20
Alwal                         20
Sanath Nagar                  18
Balanagar                     18
Mallapur                      18
West Marredpally              17
Kollur Road                   16
Attapur                       16
Nagole                        16
Patancheru                    15
Kompally                      15
Bandlaguda Jagir              15
Chandanagar                   14
East Marredpally              14
Adibatla                      13
LB Nagar                      13
Shaikpet                      13
Tarnaka                       12
Gajulramaram Kukatpally       12
Madinaguda                    12
TellapurOsman Nagar Road      11
Kachiguda                     11
Darga Khaliz Khan             11
Toli Chowki                   11
Name: count, dtype: int64

Outlier detection and removal

In [64]:
data.describe()

              Price         Area     Bedrooms     Security  price_per_sqft
count  2.434000e+03  2434.000000  2434.000000  2434.000000     2434.000000
mean   9.844925e+06  1644.151602     2.626130     0.420296     5463.714463
std    8.852947e+06   748.134812     0.685046     0.493708     2247.821181
min    2.000000e+06   500.000000     1.000000     0.000000     2000.000000
25%    4.760000e+06  1165.000000     2.000000     0.000000     4000.000000
50%    7.800000e+06  1500.000000     3.000000     0.000000     5000.000000
75%    1.090000e+07  1820.000000     3.000000     1.000000     6474.820144
max    1.650000e+08  9400.000000     8.000000     1.000000    60000.000000

In [65]:
 (data['Area']/data['Bedrooms']).describe()

count    2434.000000
mean      616.743878
std       153.335707
min       250.000000
25%       526.666667
50%       577.500000
75%       656.625000
max      1733.333333
dtype: float64

In [66]:
# removing those rows whose area per bedroom is less than 300
data = data[((data['Area']/data['Bedrooms']) >= 300)]
(data['Area']/data['Bedrooms']).describe()

count    2431.000000
mean      617.183608
std       152.917143
min       300.000000
25%       526.666667
50%       577.500000
75%       656.666667
max      1733.333333
dtype: float64

In [67]:
data['price_per_sqft'].describe()

count     2431.000000
mean      5464.062755
std       2249.111407
min       2000.000000
25%       4000.000000
50%       5000.000000
75%       6474.820144
max      60000.000000
Name: price_per_sqft, dtype: float64

In [68]:
data.shape

(2431, 6)

In [69]:
data.head()

      Price  Area     Location  Bedrooms  Security  price_per_sqft
0   6968000  1340     Nizampet         2         1     5200.000000
1  29000000  3498  Hitech City         4         1     8290.451687
2   6590000  1318    Manikonda         2         0     5000.000000
3   5739000  1295        Alwal         3         0     4431.660232
4   5679000  1145   Kukatpally         2         0     4959.825328

In [71]:
# removed price_per_sqft because the only use of it is to remove outliers
data = data[['Location', 'Area', 'Security', 'Bedrooms', 'Price']]

In [72]:
data.head()

      Location  Area  Security  Bedrooms     Price
0     Nizampet  1340         1         2   6968000
1  Hitech City  3498         1         4  29000000
2    Manikonda  1318         0         2   6590000
3        Alwal  1295         0         3   5739000
4   Kukatpally  1145         0         2   5679000

cleaned data

In [73]:
data.head()

      Location  Area  Security  Bedrooms     Price
0     Nizampet  1340         1         2   6968000
1  Hitech City  3498         1         4  29000000
2    Manikonda  1318         0         2   6590000
3        Alwal  1295         0         3   5739000
4   Kukatpally  1145         0         2   5679000

In [74]:
data.to_csv('cleaned_data.csv')

In [75]:
x = data.drop(columns = ['Price'])
y = data['Price']

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score
from sklearn.pipeline import Pipeline

In [77]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

Applying linear regression

In [78]:
column_trans = make_column_transformer((OneHotEncoder(sparse_output = False), ['Location']), remainder = 'passthrough')

In [79]:
pipeline = Pipeline([
    ('col_trans', column_trans),
    ('scaler', StandardScaler()),
    ('regression', LinearRegression())
])

In [80]:
pipeline.fit(X_train, y_train)

Pipeline(steps=[('col_trans',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['Location'])])),
                ('scaler', StandardScaler()),
                ('regression', LinearRegression())])

In [81]:
y_pred_lr = pipeline.predict(X_test)

In [82]:
r2_score(y_test, y_pred_lr)

0.8829745786722778

In [83]:
import pickle

In [84]:
pickle.dump(pipeline, open('LrModel.pkl', 'wb'))